@model ProyectoMascotas.Usuario

@{
    ViewBag.Title = "Validar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="nombre" class="form-group">
            <label class="control-label col-md-3">Ingrese Usuario:</label>


            <div class="col-md-9">
                @Html.EditorFor(model => model.Nombre_de_Usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_de_Usuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="nombre" class="form-group">
            <label class="control-label col-md-3">
                Ingrese Password:
            </label>

            <div class="col-md-9">
                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })

            </div>
        </div>
        <br /><br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />

            </div>
        </div>
    </form>
}
<br /><br />