@model ProyectoMascotas.Mascotas

 


@{
    ViewBag.Title = "Cartelera de perros perdidos/Subir tu perro perdido a la cartelera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/cartelerastyle.css">

<br />
<br />
<br />
<br />
<div class="container body-content">

    <div align="center">

    </div>
    <div class="btn-group btn-group-justified font" style="height:100px;">
        <a class="btn" data-toggle="modal" data-target="#perdiste" style="background-color: transparent"><img src="/Content/Imagenes/btnperdi.png" /> </a>
        <a class="btn" data-toggle="modal" data-target="#encontraste" style="background-color: transparent"><img src="/Content/Imagenes/encontrebtn.png" /></a>
    </div>

    <div class="modal fade" id="perdiste" role="dialog" data-dismiss="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¡Publica tu mascota perdida!</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Carteleraperdidos", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                                    @Html.AntiForgeryToken()
                                    <form id="demo-form" data-parsley-validate="">



                                        <div class="form-horizontal">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Animal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Animal, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Animal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Raza, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Raza, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Raza, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { required = "" } })
                                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Vacunas, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Vacunas, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Vacunas, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <input type="file" id="image1" name="image1"required="" />
                                                </div>
                                            </div>


                                                <br>
                                                <input type="submit" value="Crear publicacion" class="btn btn-default" />
                                            </div>

                        </form>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="encontraste" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¡Publica la mascota que encontraste!</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Carteleraperdidos", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                                    @Html.AntiForgeryToken()
                                    <form id="demo-form" data-parsley-validate="">
            

                                        <div class="form-horizontal">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Animal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Animal, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Animal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Raza, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Raza, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Raza, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { required = "" } })
                                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Vacunas, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Vacunas, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Vacunas, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <input type="file" id="image1" name="image1" required=""/>
                                                </div>
                                            </div>

                                <br>
                                <input type="submit" value="Crear publicacion" class="btn btn-default" />
                            </div>

                        </form>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br />
    <div align="center">
        <img src="/Content/Imagenes/cartelera.png" />
    </div>
    <div id="cartelera" class="container-fluid">
        @Html.Action("Cartelera", "Home")
    </div>



    <script>
        $(function () {
            $('#demo-form').parsley().on('field:validated', function () {
                var ok = $('.parsley-error').length === 0;
                $('.bs-callout-info').toggleClass('hidden', !ok);
                $('.bs-callout-warning').toggleClass('hidden', ok);
            })
                .on('form:submit', function () {
                    return false;
                });
        });
    </script>
