@model IEnumerable<ProyectoMascotas.Mascotas>
<link rel="stylesheet" href="~/Content/carteleramascotas.css">

@{
    int asd=0;
}

    <br /><br /><br />
    <div class="pricing-table pricing-three-column row">
        @foreach (var item in Model)
            { 
            <div class="container font">
                <div class="row">
                    <div class="col-md-1">
</div>
                        <div class="col-md-5">
                            <div align="center">
                                @{asd += 1; }
                                <img id="@asd" class="myImg111" src="@Url.Content(item.ImagenA)" width="300" /><br /><br />
                                <a href="@Url.Action("Contactar","Home", new { id = item.Id })" class="btn btn-primary btn-plan-select" style="background-color:#00A79D"><i class="icon-white icon-ok"></i>CONTACTAR</a>
                            </div>
                            @*<h2>@Html.DisplayFor(modelItem => item.Animal)</h2>
                <span>@Html.DisplayFor(modelItem => item.Raza)</span>*@
                        </div>
                        <div class="col-md-5 ">
                            <ul style="list-style-type:none">
                                <li> <h4 class="descp"> @Html.DisplayNameFor(model => model.Animal): @Html.DisplayFor(modelItem => item.Animal)</h4></li>
                                <li><h4 class="descp"> @Html.DisplayNameFor(model => model.Raza): @Html.DisplayFor(modelItem => item.Raza)</h4></li>
                                <li><h4 class="descp"> @Html.DisplayNameFor(model => model.Ubicacion): @Html.DisplayFor(modelItem => item.Ubicacion)</h4></li>

                                @if (item.Sexo == true)
                                {

                                    <li>      <h4 class="descp">                         Sexo: Hembra    </h4>           </li>
                                }
                                else
                                {
                                    <li>                  <h4 class="descp">              Sexo: Macho </h4></li>   }
                                <li style="word-wrap:break-word"><h4 class="descp">@Html.DisplayNameFor(model => model.Descripcion): @Html.DisplayFor(modelItem => item.Descripcion)</h4></li>
                                <li><h4 class="descp">@Html.DisplayNameFor(model => model.Edad): @Html.DisplayFor(modelItem => item.Edad) </h4></li>


                            </ul>


                        </div>
                    <div class="col-md-1">

                    </div>
                    </div>
                <br />
                <br />
                <br />

                <div id="myModal111" class="modal111">
                    <span class="close111">&times;</span>
                    <img class="modal-content111" id="img01">
                    <div id="caption111"></div>
                </div>

            </div>
            <hr style="color: black;margin-top:0px;" size="30" width="80%"  />

            <script>
    // Get the modal
    var modal = document.getElementById('myModal111');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('@asd');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption111");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close111")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
            </script>
                                }
            </div>






    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />






